!!!
%html
  %head
    %title Beehive - A swarm of applications
    = partial("_head")
  %body
    = partial("_header")
    #content
      #left
        = yield
      #right
        = @right
        = partial("_right")
      .clear &nbsp;
      #footer
        %p
          Copyright &copy; 2010 - Ari Lerner and Cloudteam at AT&T Interactive
          =link "sitemap"